<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BackgroundReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BackgroundReader.Properties.Settings>
            <setting name="volumen" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="speed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="stimme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="textFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoLanguage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoLanguageFilePath" serializeAs="String">
                <value>Core14.profile.xml</value>
            </setting>
            <setting name="prioAutoLangVoice" serializeAs="String">
                <value />
            </setting>
            <setting name="startHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autostartRegName" serializeAs="String">
                <value />
            </setting>
        </BackgroundReader.Properties.Settings>
    </userSettings>
</configuration>